/* -------------------- General styling -------------------- */

:root {
  --myFontColour: #181818;
}

body {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

html {
  height: 100%;
  width: 100%;
}

main {
  overflow-x: hidden;
}

/* -------------------- Font styling -------------------- */

* {
  font-family: 'Oxygen', sans-serif;
  font-size: 19px;
}

p {
  font-size: 19px;
}

h1 {
  text-align: center;
  margin: 2rem;
  font-size: 3rem;
  color: var(--myFontColour);
}

.help {
  font-size: 19px;
}

@media (max-width: 767px) {

  h1 {
    font-size: 2rem;
  }

}

/* -------------------- Table styling -------------------- */

input {
  border: #E5E5E5 1px solid;
  padding: 1rem;
}

.inputTable {
  display: block;
  width: 100%;
  overflow-x: auto;
}

table {
  margin: 2rem auto;
  padding: 0 2rem;
}

tr > td:first-of-type {
  min-width: 7rem;
}

/* -------------------- Icon styling -------------------- */

.fa-question-circle {
  margin-right: 10px;
}

/* -------------------- Button styling -------------------- */

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.answerButton {
  background: #292929;
  color: #ffffff;
}

.newButton:hover,
.newButton:focus {
  background-color: #e5e5e5;
}

.answerButton:hover,
.answerButton:focus {
  background: #181818;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 767px) {

  .buttons {
    display: block;
  }

  button {
    display: block;
    width: 80vw;
    margin: 1rem auto;
  }

}

/* -------------------- Answer styling -------------------- */

.showAnswer {
  color: #31708F;
  background-color: #D9EDF7;
}

.wrong {
  color: #A94442;
  background-color: #F2DEDE;
}

.correct {
  color: #3C763D;
  background-color: #DFF0D8;
}

.blocked {
  background-color: #EBEBEB;
  pointer-events: none;
}

.blocked::placeholder {
  color: #EBEBEB;
}

